header {
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  header, footer {
    background: #58378C;
    color: white;
    padding: 16px;
  }
  
  #logo-header {
    font-size: 32px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  main {
    background-color: #EF7D19;
    padding: 16px;
    color: white;
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  .rede-social {
    font-family: 'Segoe UI', Verdana, sans-serif;
    margin: 8px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
